body{
    background-image: url("./lose.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 50cap;
}
.try h1{
    color: rgb(20, 236, 27);
    text-align: center;
}