.head{
    background-color: black;
    color: rgb(255, 0, 0);
    width: 700px;
    height: 500px;
    margin-left: 400px;
    margin-top: 80px;
}
.ol{
    color: rgb(1, 145, 44);
    margin-left: 150px;
    font-size: 20px;
}
.check{
    margin: 100px;
}